___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [15]:
import requests

r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?date=20230304&json')
result=r.json()
print('Підключення відбулося успішно', r)

Підключення відбулося успішно <Response [200]>

2. Отримати курс долара за останній рік.

In [31]:
import datetime

start = datetime.date(2022, 3, 6)
for i in range(365): 
    date = start + datetime.timedelta(days = i)
    r = requests.get(f'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?date={date.strftime("%Y%m%d")}&json').json()
    print([{'дата':i['exchangedate'], 'курс': i['rate']} for i in r if i['cc'] == 'USD'])

[{'дата': '06.03.2022', 'курс': 29.2549}]
[{'дата': '07.03.2022', 'курс': 29.2549}]
[{'дата': '08.03.2022', 'курс': 29.2549}]
[{'дата': '09.03.2022', 'курс': 29.2549}]
[{'дата': '10.03.2022', 'курс': 29.2549}]
[{'дата': '11.03.2022', 'курс': 29.2549}]
[{'дата': '12.03.2022', 'курс': 29.2549}]
[{'дата': '13.03.2022', 'курс': 29.2549}]
[{'дата': '14.03.2022', 'курс': 29.2549}]
[{'дата': '15.03.2022', 'курс': 29.2549}]
[{'дата': '16.03.2022', 'курс': 29.2549}]
[{'дата': '17.03.2022', 'курс': 29.2549}]
[{'дата': '18.03.2022', 'курс': 29.2549}]
[{'дата': '19.03.2022', 'курс': 29.2549}]
[{'дата': '20.03.2022', 'курс': 29.2549}]
[{'дата': '21.03.2022', 'курс': 29.2549}]
[{'дата': '22.03.2022', 'курс': 29.2549}]
[{'дата': '23.03.2022', 'курс': 29.2549}]
[{'дата': '24.03.2022', 'курс': 29.2549}]
[{'дата': '25.03.2022', 'курс': 29.2549}]
[{'дата': '26.03.2022', 'курс': 29.2549}]
[{'дата': '27.03.2022', 'курс': 29.2549}]
[{'дата': '28.03.2022', 'курс': 29.2549}]
[{'дата': '29.03.2022', 'курс': 29.2549}]
[{'дата': '30.03.2022', 'курс': 29.2549}]
[{'дата': '31.03.2022', 'курс': 29.2549}]
[{'дата': '01.04.2022', 'курс': 29.2549}]
[{'дата': '02.04.2022', 'курс': 29.2549}]
[{'дата': '03.04.2022', 'курс': 29.2549}]
[{'дата': '04.04.2022', 'курс': 29.2549}]
[{'дата': '05.04.2022', 'курс': 29.2549}]
[{'дата': '06.04.2022', 'курс': 29.2549}]
[{'дата': '07.04.2022', 'курс': 29.2549}]
[{'дата': '08.04.2022', 'курс': 29.2549}]
[{'дата': '09.04.2022', 'курс': 29.2549}]
[{'дата': '10.04.2022', 'курс': 29.2549}]
[{'дата': '11.04.2022', 'курс': 29.2549}]
[{'дата': '12.04.2022', 'курс': 29.2549}]
[{'дата': '13.04.2022', 'курс': 29.2549}]
[{'дата': '14.04.2022', 'курс': 29.2549}]
[{'дата': '15.04.2022', 'курс': 29.2549}]
[{'дата': '16.04.2022', 'курс': 29.2549}]
[{'дата': '17.04.2022', 'курс': 29.2549}]
[{'дата': '18.04.2022', 'курс': 29.2549}]
[{'дата': '19.04.2022', 'курс': 29.2549}]
[{'дата': '20.04.2022', 'курс': 29.2549}]
[{'дата': '21.04.2022', 'курс': 29.2549}]
[{'дата': '22.04.2022', 'курс': 29.2549}]
[{'дата': '23.04.2022', 'курс': 29.2549}]
[{'дата': '24.04.2022', 'курс': 29.2549}]
[{'дата': '25.04.2022', 'курс': 29.2549}]
[{'дата': '26.04.2022', 'курс': 29.2549}]
[{'дата': '27.04.2022', 'курс': 29.2549}]
[{'дата': '28.04.2022', 'курс': 29.2549}]
[{'дата': '29.04.2022', 'курс': 29.2549}]
[{'дата': '30.04.2022', 'курс': 29.2549}]
[{'дата': '01.05.2022', 'курс': 29.2549}]
[{'дата': '02.05.2022', 'курс': 29.2549}]
[{'дата': '03.05.2022', 'курс': 29.2549}]
[{'дата': '04.05.2022', 'курс': 29.2549}]
[{'дата': '05.05.2022', 'курс': 29.2549}]
[{'дата': '06.05.2022', 'курс': 29.2549}]
[{'дата': '07.05.2022', 'курс': 29.2549}]
[{'дата': '08.05.2022', 'курс': 29.2549}]
[{'дата': '09.05.2022', 'курс': 29.2549}]
[{'дата': '10.05.2022', 'курс': 29.2549}]
[{'дата': '11.05.2022', 'курс': 29.2549}]
[{'дата': '12.05.2022', 'курс': 29.2549}]
[{'дата': '13.05.2022', 'курс': 29.2549}]
[{'дата': '14.05.2022', 'курс': 29.2549}]
[{'дата': '15.05.2022', 'курс': 29.2549}]
[{'дата': '16.05.2022', 'курс': 29.2549}]
[{'дата': '17.05.2022', 'курс': 29.2549}]
[{'дата': '18.05.2022', 'курс': 29.2549}]
[{'дата': '19.05.2022', 'курс': 29.2549}]
[{'дата': '20.05.2022', 'курс': 29.2549}]
[{'дата': '21.05.2022', 'курс': 29.2549}]
[{'дата': '22.05.2022', 'курс': 29.2549}]
[{'дата': '23.05.2022', 'курс': 29.2549}]
[{'дата': '24.05.2022', 'курс': 29.2549}]
[{'дата': '25.05.2022', 'курс': 29.2549}]
[{'дата': '26.05.2022', 'курс': 29.2549}]
[{'дата': '27.05.2022', 'курс': 29.2549}]
[{'дата': '28.05.2022', 'курс': 29.2549}]
[{'дата': '29.05.2022', 'курс': 29.2549}]
[{'дата': '30.05.2022', 'курс': 29.2549}]
[{'дата': '31.05.2022', 'курс': 29.2549}]
[{'дата': '01.06.2022', 'курс': 29.2549}]
[{'дата': '02.06.2022', 'курс': 29.2549}]
[{'дата': '03.06.2022', 'курс': 29.2549}]
[{'дата': '04.06.2022', 'курс': 29.2549}]
[{'дата': '05.06.2022', 'курс': 29.2549}]
[{'дата': '06.06.2022', 'курс': 29.2549}]
[{'дата': '07.06.2022', 'курс': 29.2549}]
[{'дата': '08.06.2022', 'курс': 29.2549}]
[{'дата': '09.06.2022', 'курс': 29.2549}]
[{'дата': '10.06.2022', 'курс': 29.2549}]
[{'дата': '11.06.2022', 'курс': 29.2549}]
[{'дата': '12.06.2022', 'курс': 29.2549}]
[{'дата': '13.06.2022', 'курс': 29.2549}]
[{'дата': '14.06.2022', 'курс': 29.2549}]
[{'дата': '15.06.2022', 'курс': 29.2549}]
[{'дата': '16.06.2022', 'курс': 29.2549}]
[{'дата': '17.06.2022', 'курс': 29.2549}]
[{'дата': '18.06.2022', 'курс': 29.2549}]
[{'дата': '19.06.2022', 'курс': 29.2549}]
[{'дата': '20.06.2022', 'курс': 29.2549}]
[{'дата': '21.06.2022', 'курс': 29.2549}]
[{'дата': '22.06.2022', 'курс': 29.2549}]
[{'дата': '23.06.2022', 'курс': 29.2549}]
[{'дата': '24.06.2022', 'курс': 29.2549}]
[{'дата': '25.06.2022', 'курс': 29.2549}]
[{'дата': '26.06.2022', 'курс': 29.2549}]
[{'дата': '27.06.2022', 'курс': 29.2549}]
[{'дата': '28.06.2022', 'курс': 29.2549}]
[{'дата': '29.06.2022', 'курс': 29.2549}]
[{'дата': '30.06.2022', 'курс': 29.2549}]
[{'дата': '01.07.2022', 'курс': 29.2549}]
[{'дата': '02.07.2022', 'курс': 29.2549}]
[{'дата': '03.07.2022', 'курс': 29.2549}]
[{'дата': '04.07.2022', 'курс': 29.2549}]
[{'дата': '05.07.2022', 'курс': 29.2549}]
[{'дата': '06.07.2022', 'курс': 29.2549}]
[{'дата': '07.07.2022', 'курс': 29.2549}]
[{'дата': '08.07.2022', 'курс': 29.2549}]
[{'дата': '09.07.2022', 'курс': 29.2549}]
[{'дата': '10.07.2022', 'курс': 29.2549}]
[{'дата': '11.07.2022', 'курс': 29.2549}]
[{'дата': '12.07.2022', 'курс': 29.2549}]
[{'дата': '13.07.2022', 'курс': 29.2549}]
[{'дата': '14.07.2022', 'курс': 29.2549}]
[{'дата': '15.07.2022', 'курс': 29.2549}]
[{'дата': '16.07.2022', 'курс': 29.2549}]
[{'дата': '17.07.2022', 'курс': 29.2549}]
[{'дата': '18.07.2022', 'курс': 29.2549}]
[{'дата': '19.07.2022', 'курс': 29.2549}]
[{'дата': '20.07.2022', 'курс': 29.2549}]
[{'дата': '21.07.2022', 'курс': 36.5686}]
[{'дата': '22.07.2022', 'курс': 36.5686}]
[{'дата': '23.07.2022', 'курс': 36.5686}]
[{'дата': '24.07.2022', 'курс': 36.5686}]
[{'дата': '25.07.2022', 'курс': 36.5686}]
[{'дата': '26.07.2022', 'курс': 36.5686}]
[{'дата': '27.07.2022', 'курс': 36.5686}]
[{'дата': '28.07.2022', 'курс': 36.5686}]
[{'дата': '29.07.2022', 'курс': 36.5686}]
[{'дата': '30.07.2022', 'курс': 36.5686}]
[{'дата': '31.07.2022', 'курс': 36.5686}]
[{'дата': '01.08.2022', 'курс': 36.5686}]
[{'дата': '02.08.2022', 'курс': 36.5686}]
[{'дата': '03.08.2022', 'курс': 36.5686}]
[{'дата': '04.08.2022', 'курс': 36.5686}]
[{'дата': '05.08.2022', 'курс': 36.5686}]
[{'дата': '06.08.2022', 'курс': 36.5686}]
[{'дата': '07.08.2022', 'курс': 36.5686}]
[{'дата': '08.08.2022', 'курс': 36.5686}]
[{'дата': '09.08.2022', 'курс': 36.5686}]
[{'дата': '10.08.2022', 'курс': 36.5686}]
[{'дата': '11.08.2022', 'курс': 36.5686}]
[{'дата': '12.08.2022', 'курс': 36.5686}]
[{'дата': '13.08.2022', 'курс': 36.5686}]
[{'дата': '14.08.2022', 'курс': 36.5686}]
[{'дата': '15.08.2022', 'курс': 36.5686}]
[{'дата': '16.08.2022', 'курс': 36.5686}]
[{'дата': '17.08.2022', 'курс': 36.5686}]
[{'дата': '18.08.2022', 'курс': 36.5686}]
[{'дата': '19.08.2022', 'курс': 36.5686}]
[{'дата': '20.08.2022', 'курс': 36.5686}]
[{'дата': '21.08.2022', 'курс': 36.5686}]
[{'дата': '22.08.2022', 'курс': 36.5686}]
[{'дата': '23.08.2022', 'курс': 36.5686}]
[{'дата': '24.08.2022', 'курс': 36.5686}]
[{'дата': '25.08.2022', 'курс': 36.5686}]
[{'дата': '26.08.2022', 'курс': 36.5686}]
[{'дата': '27.08.2022', 'курс': 36.5686}]
[{'дата': '28.08.2022', 'курс': 36.5686}]
[{'дата': '29.08.2022', 'курс': 36.5686}]
[{'дата': '30.08.2022', 'курс': 36.5686}]
[{'дата': '31.08.2022', 'курс': 36.5686}]
[{'дата': '01.09.2022', 'курс': 36.5686}]
[{'дата': '02.09.2022', 'курс': 36.5686}]
[{'дата': '03.09.2022', 'курс': 36.5686}]
[{'дата': '04.09.2022', 'курс': 36.5686}]
[{'дата': '05.09.2022', 'курс': 36.5686}]
[{'дата': '06.09.2022', 'курс': 36.5686}]
[{'дата': '07.09.2022', 'курс': 36.5686}]
[{'дата': '08.09.2022', 'курс': 36.5686}]
[{'дата': '09.09.2022', 'курс': 36.5686}]
[{'дата': '10.09.2022', 'курс': 36.5686}]
[{'дата': '11.09.2022', 'курс': 36.5686}]
[{'дата': '12.09.2022', 'курс': 36.5686}]
[{'дата': '13.09.2022', 'курс': 36.5686}]
[{'дата': '14.09.2022', 'курс': 36.5686}]
[{'дата': '15.09.2022', 'курс': 36.5686}]
[{'дата': '16.09.2022', 'курс': 36.5686}]
[{'дата': '17.09.2022', 'курс': 36.5686}]
[{'дата': '18.09.2022', 'курс': 36.5686}]

[{'дата': '19.09.2022', 'курс': 36.5686}]
[{'дата': '20.09.2022', 'курс': 36.5686}]
[{'дата': '21.09.2022', 'курс': 36.5686}]
[{'дата': '22.09.2022', 'курс': 36.5686}]
[{'дата': '23.09.2022', 'курс': 36.5686}]
[{'дата': '24.09.2022', 'курс': 36.5686}]
[{'дата': '25.09.2022', 'курс': 36.5686}]
[{'дата': '26.09.2022', 'курс': 36.5686}]
[{'дата': '27.09.2022', 'курс': 36.5686}]
[{'дата': '28.09.2022', 'курс': 36.5686}]
[{'дата': '29.09.2022', 'курс': 36.5686}]
[{'дата': '30.09.2022', 'курс': 36.5686}]
[{'дата': '01.10.2022', 'курс': 36.5686}]
[{'дата': '02.10.2022', 'курс': 36.5686}]
[{'дата': '03.10.2022', 'курс': 36.5686}]
[{'дата': '04.10.2022', 'курс': 36.5686}]
[{'дата': '05.10.2022', 'курс': 36.5686}]
[{'дата': '06.10.2022', 'курс': 36.5686}]
[{'дата': '07.10.2022', 'курс': 36.5686}]
[{'дата': '08.10.2022', 'курс': 36.5686}]
[{'дата': '09.10.2022', 'курс': 36.5686}]
[{'дата': '10.10.2022', 'курс': 36.5686}]
[{'дата': '11.10.2022', 'курс': 36.5686}]
[{'дата': '12.10.2022', 'курс': 36.5686}]
[{'дата': '13.10.2022', 'курс': 36.5686}]
[{'дата': '14.10.2022', 'курс': 36.5686}]
[{'дата': '15.10.2022', 'курс': 36.5686}]
[{'дата': '16.10.2022', 'курс': 36.5686}]
[{'дата': '17.10.2022', 'курс': 36.5686}]
[{'дата': '18.10.2022', 'курс': 36.5686}]
[{'дата': '19.10.2022', 'курс': 36.5686}]
[{'дата': '20.10.2022', 'курс': 36.5686}]
[{'дата': '21.10.2022', 'курс': 36.5686}]
[{'дата': '22.10.2022', 'курс': 36.5686}]
[{'дата': '23.10.2022', 'курс': 36.5686}]
[{'дата': '24.10.2022', 'курс': 36.5686}]
[{'дата': '25.10.2022', 'курс': 36.5686}]
[{'дата': '26.10.2022', 'курс': 36.5686}]
[{'дата': '27.10.2022', 'курс': 36.5686}]
[{'дата': '28.10.2022', 'курс': 36.5686}]
[{'дата': '29.10.2022', 'курс': 36.5686}]
[{'дата': '30.10.2022', 'курс': 36.5686}]
[{'дата': '31.10.2022', 'курс': 36.5686}]
[{'дата': '01.11.2022', 'курс': 36.5686}]
[{'дата': '02.11.2022', 'курс': 36.5686}]
[{'дата': '03.11.2022', 'курс': 36.5686}]
[{'дата': '04.11.2022', 'курс': 36.5686}]
[{'дата': '05.11.2022', 'курс': 36.5686}]
[{'дата': '06.11.2022', 'курс': 36.5686}]
[{'дата': '07.11.2022', 'курс': 36.5686}]
[{'дата': '08.11.2022', 'курс': 36.5686}]
[{'дата': '09.11.2022', 'курс': 36.5686}]
[{'дата': '10.11.2022', 'курс': 36.5686}]
[{'дата': '11.11.2022', 'курс': 36.5686}]
[{'дата': '12.11.2022', 'курс': 36.5686}]
[{'дата': '13.11.2022', 'курс': 36.5686}]
[{'дата': '14.11.2022', 'курс': 36.5686}]
[{'дата': '15.11.2022', 'курс': 36.5686}]
[{'дата': '16.11.2022', 'курс': 36.5686}]
[{'дата': '17.11.2022', 'курс': 36.5686}]
[{'дата': '18.11.2022', 'курс': 36.5686}]
[{'дата': '19.11.2022', 'курс': 36.5686}]
[{'дата': '20.11.2022', 'курс': 36.5686}]
[{'дата': '21.11.2022', 'курс': 36.5686}]
[{'дата': '22.11.2022', 'курс': 36.5686}]
[{'дата': '23.11.2022', 'курс': 36.5686}]
[{'дата': '24.11.2022', 'курс': 36.5686}]
[{'дата': '25.11.2022', 'курс': 36.5686}]
[{'дата': '26.11.2022', 'курс': 36.5686}]
[{'дата': '27.11.2022', 'курс': 36.5686}]
[{'дата': '28.11.2022', 'курс': 36.5686}]
[{'дата': '29.11.2022', 'курс': 36.5686}]
[{'дата': '30.11.2022', 'курс': 36.5686}]
[{'дата': '01.12.2022', 'курс': 36.5686}]
[{'дата': '02.12.2022', 'курс': 36.5686}]
[{'дата': '03.12.2022', 'курс': 36.5686}]
[{'дата': '04.12.2022', 'курс': 36.5686}]
[{'дата': '05.12.2022', 'курс': 36.5686}]
[{'дата': '06.12.2022', 'курс': 36.5686}]
[{'дата': '07.12.2022', 'курс': 36.5686}]
[{'дата': '08.12.2022', 'курс': 36.5686}]
[{'дата': '09.12.2022', 'курс': 36.5686}]
[{'дата': '10.12.2022', 'курс': 36.5686}]
[{'дата': '11.12.2022', 'курс': 36.5686}]
[{'дата': '12.12.2022', 'курс': 36.5686}]
[{'дата': '13.12.2022', 'курс': 36.5686}]
[{'дата': '14.12.2022', 'курс': 36.5686}]
[{'дата': '15.12.2022', 'курс': 36.5686}]
[{'дата': '16.12.2022', 'курс': 36.5686}]
[{'дата': '17.12.2022', 'курс': 36.5686}]
[{'дата': '18.12.2022', 'курс': 36.5686}]
[{'дата': '19.12.2022', 'курс': 36.5686}]
[{'дата': '20.12.2022', 'курс': 36.5686}]
[{'дата': '21.12.2022', 'курс': 36.5686}]
[{'дата': '22.12.2022', 'курс': 36.5686}]
[{'дата': '23.12.2022', 'курс': 36.5686}]
[{'дата': '24.12.2022', 'курс': 36.5686}]
[{'дата': '25.12.2022', 'курс': 36.5686}]
[{'дата': '26.12.2022', 'курс': 36.5686}]
[{'дата': '27.12.2022', 'курс': 36.5686}]
[{'дата': '28.12.2022', 'курс': 36.5686}]
[{'дата': '29.12.2022', 'курс': 36.5686}]
[{'дата': '30.12.2022', 'курс': 36.5686}]
[{'дата': '31.12.2022', 'курс': 36.5686}]
[{'дата': '01.01.2023', 'курс': 36.5686}]
[{'дата': '02.01.2023', 'курс': 36.5686}]
[{'дата': '03.01.2023', 'курс': 36.5686}]
[{'дата': '04.01.2023', 'курс': 36.5686}]
[{'дата': '05.01.2023', 'курс': 36.5686}]
[{'дата': '06.01.2023', 'курс': 36.5686}]
[{'дата': '07.01.2023', 'курс': 36.5686}]
[{'дата': '08.01.2023', 'курс': 36.5686}]
[{'дата': '09.01.2023', 'курс': 36.5686}]
[{'дата': '10.01.2023', 'курс': 36.5686}]
[{'дата': '11.01.2023', 'курс': 36.5686}]
[{'дата': '12.01.2023', 'курс': 36.5686}]
[{'дата': '13.01.2023', 'курс': 36.5686}]
[{'дата': '14.01.2023', 'курс': 36.5686}]
[{'дата': '15.01.2023', 'курс': 36.5686}]
[{'дата': '16.01.2023', 'курс': 36.5686}]
[{'дата': '17.01.2023', 'курс': 36.5686}]
[{'дата': '18.01.2023', 'курс': 36.5686}]
[{'дата': '19.01.2023', 'курс': 36.5686}]
[{'дата': '20.01.2023', 'курс': 36.5686}]
[{'дата': '21.01.2023', 'курс': 36.5686}]
[{'дата': '22.01.2023', 'курс': 36.5686}]
[{'дата': '23.01.2023', 'курс': 36.5686}]
[{'дата': '24.01.2023', 'курс': 36.5686}]
[{'дата': '25.01.2023', 'курс': 36.5686}]
[{'дата': '26.01.2023', 'курс': 36.5686}]
[{'дата': '27.01.2023', 'курс': 36.5686}]
[{'дата': '28.01.2023', 'курс': 36.5686}]
[{'дата': '29.01.2023', 'курс': 36.5686}]
[{'дата': '30.01.2023', 'курс': 36.5686}]
[{'дата': '31.01.2023', 'курс': 36.5686}]
[{'дата': '01.02.2023', 'курс': 36.5686}]
[{'дата': '02.02.2023', 'курс': 36.5686}]
[{'дата': '03.02.2023', 'курс': 36.5686}]
[{'дата': '04.02.2023', 'курс': 36.5686}]
[{'дата': '05.02.2023', 'курс': 36.5686}]
[{'дата': '06.02.2023', 'курс': 36.5686}]
[{'дата': '07.02.2023', 'курс': 36.5686}]
[{'дата': '08.02.2023', 'курс': 36.5686}]
[{'дата': '09.02.2023', 'курс': 36.5686}]
[{'дата': '10.02.2023', 'курс': 36.5686}]
[{'дата': '11.02.2023', 'курс': 36.5686}]
[{'дата': '12.02.2023', 'курс': 36.5686}]
[{'дата': '13.02.2023', 'курс': 36.5686}]
[{'дата': '14.02.2023', 'курс': 36.5686}]
[{'дата': '15.02.2023', 'курс': 36.5686}]
[{'дата': '16.02.2023', 'курс': 36.5686}]
[{'дата': '17.02.2023', 'курс': 36.5686}]
[{'дата': '18.02.2023', 'курс': 36.5686}]
[{'дата': '19.02.2023', 'курс': 36.5686}]
[{'дата': '20.02.2023', 'курс': 36.5686}]
[{'дата': '21.02.2023', 'курс': 36.5686}]
[{'дата': '22.02.2023', 'курс': 36.5686}]
[{'дата': '23.02.2023', 'курс': 36.5686}]
[{'дата': '24.02.2023', 'курс': 36.5686}]
[{'дата': '25.02.2023', 'курс': 36.5686}]
[{'дата': '26.02.2023', 'курс': 36.5686}]
[{'дата': '27.02.2023', 'курс': 36.5686}]
[{'дата': '28.02.2023', 'курс': 36.5686}]
[{'дата': '01.03.2023', 'курс': 36.5686}]
[{'дата': '02.03.2023', 'курс': 36.5686}]
[{'дата': '03.03.2023', 'курс': 36.5686}]
[{'дата': '04.03.2023', 'курс': 36.5686}]
[{'дата': '05.03.2023', 'курс': 36.5686}]

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [6]:
import datetime
import math
import requests
import locale

locale.setlocale(locale.LC_TIME, 'uk_UA.utf8')

#main function for gathering rates from the given periods and calculation on them
def gathering_info(year_: int, month_: int, day_: int, range_of_days: int) -> dict:
    """Take start date and the range of days of the necessary period as a tuple 
    and return mean currency rate and standard deviation from this period as floats
    in form of a dictionary with a month and year as a key and a value
    consisting of another dictionary with mean rate and standard deviation as keys.
    : params `year_, month_, day_`: start date of the necessary period input as 
    integers in format 'year, month, day'
    : param `range_of_days`: amount of days of the necessary period input as an integer
    """
    list_month_rate = []
    start = datetime.date(year_, month_, day_)
    for i in range(range_of_days):
        date = start + datetime.timedelta(days=i)
        params = {
            "date": date.strftime("%Y%m%d"),
            "json": "json"
        }
        r = requests.get(
            'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange',
            params=params).json()
        for x in r:
            if x['cc'] == 'USD':
                x['rate'] = float(x['rate'])
                list_month_rate.append(x['rate'])

        mean = round(sum(list_month_rate)/len(list_month_rate), 4)
    
        n = len(list_month_rate)
        mean = sum(list_month_rate) / n
        variance = sum([((num - mean) ** 2) for num in list_month_rate]) / n
        std_dev = round(math.sqrt(variance), 4)
    
    dict_USD_rate = {}
    month_name = start.strftime('%B')
    month_name_decoded = month_name.encode('cp1251').decode('utf-8')
    year = date.strftime('%Y')
    data_period = month_name_decoded + " " + year
    dict_USD_rate[data_period] = {
    'середній курс USD': mean,
    'відхилення курсу USD': std_dev
    }
    
    return dict_USD_rate
    

# Periods which we want to research
list_of_dates = [(2022, 3, 1, 31), (2022, 4, 1, 30), (2022, 5, 1, 31), (2022, 6, 1, 30),
                       (2022, 7, 1, 31), (2022, 8, 1, 31), (2022, 9, 1, 30), (2022, 10, 1, 31),
                       (2022, 11, 1, 30), (2022, 12, 1, 31), (2023, 1, 1, 31), (2023, 2, 1, 28)]

# create a list for the entire researched period to make easier pickling further
result = []
for t in list_of_dates:
    result.append(gathering_info(*t))

print(result)

[{'березень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'квітень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'травень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'червень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'липень 2022': {'середній курс USD': 31.85008387096777, 'відхилення курсу USD': 3.4993}}, {'серпень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'вересень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'жовтень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'листопад 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'грудень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'січень 2023': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'лютий 2023': {'середній курс USD': 36.568600000000025, 'відхилення курсу USD': 0.0}}]

4. Дану інформацію записати у файл за допомогою pickle.

In [10]:
import pickle 

pickle.dump(result, open("dicts_USD_rate.p", "wb"))

In [11]:
dicts_USD_rate_1 = pickle.load(open("dicts_USD_rate.p", "rb"))
print(dicts_USD_rate_1)

[{'березень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'квітень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'травень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'червень 2022': {'середній курс USD': 29.254900000000013, 'відхилення курсу USD': 0.0}}, {'липень 2022': {'середній курс USD': 31.85008387096777, 'відхилення курсу USD': 3.4993}}, {'серпень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'вересень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'жовтень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'листопад 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'грудень 2022': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'січень 2023': {'середній курс USD': 36.56860000000003, 'відхилення курсу USD': 0.0}}, {'лютий 2023': {'середній курс USD': 36.568600000000025, 'відхилення курсу USD': 0.0}}]

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/products

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [3]:
import sqlite3
from bs4 import BeautifulSoup
import json
import requests

connection = sqlite3.connect('agrosemproducts_db.sqlite3')
cursor = connection.cursor()
sql = """CREATE TABLE IF NOT EXISTS agrosemproducts_db (
    id_ integer NOT NULL PRIMARY KEY AUTOINCREMENT, 
    name text NOT NULL, 
    price decimal NOT NULL, 
    weight decimal NOT NULL
    )""";

cursor.executescript(sql)
connection.commit()

#function adding products data to db table
def add_to_db(id_: int, name: str, price: float, weight: float):
    """Insert values to table of a database
    : param id_: id of a product
    : param name: name of a product
    : param price: price of a product 
    : param weight: weight of a product
    """
    sql_text = """INSERT INTO agrosemproducts_db (id_, name, price, weight) VALUES (?, ?, ?, ?)"""
    conn = sqlite3.connect('agrosemproducts_db.sqlite3')
    curs = conn.cursor()
    curs.execute(sql_text, (id_, name, price, weight))
    conn.commit()
    conn.close()


link = 'https://smallpacking.agrosem.ua/products/'

headers = {
    'authority': 'www.google.com',
    'cache-control': 'max-age=0',
    'sec-ch-ua': '"Google Chrome";v="87", " Not;A Brand";v="99", "Chromium";v="87"',
    'sec-ch-ua-mobile': '?0',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'x-client-data': 'CIu2yQEIorbJAQjBtskBCKmdygEIrMfKAQj4x8oBCKPNygEI3NXKAQin+csB',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-user': '?1',
    'sec-fetch-dest': 'document',
    'accept-language': 'uk',
    'Cookie': 'PHPSESSID=hec01mv9ejs0fi7grn0tpq9ndr'
}

for page in range(1, 10):
    url = f"https://smallpacking.agrosem.ua/products/?page={page}"
    r = requests.get(url, headers=headers)
        #     print(len(r.text))
    soup = BeautifulSoup(r.text, "lxml")

    for y in soup.find_all('a', class_='key'):
        r = y.get('href')
        link = "https://smallpacking.agrosem.ua" + r
        url_1 = f"{link}"
        r_1 = requests.get(url_1, headers=headers)
        soup_1 = BeautifulSoup(r_1.text, "lxml")

        for x in soup_1.find_all('a', class_='ico buy modal_open'):
            json_dicts = x.get('content')
            if json_dicts == None:
                continue
            else:
                site_info = json.loads(json_dicts)
                id_ = site_info["id"]
                name = site_info['name']
                price = site_info['price']
                weight = site_info['weight']
                add_to_db(id_, name, price, weight)

In [4]:
cursor.execute('SELECT * FROM agrosemproducts_db')
cursor.fetchall()

[(1509, 'YARA LIVA КАЛЬЦИНІТ', 1380, '25 кг'),
 (1510, 'YARA LIVA НІТРАБОР', 1390, '25 кг'),
 (1511, 'YARAMILA COMPLEX 12-11-18', 1900, '25 кг'),
 (1512, 'YARAMILA CROPCARE 11-11-21', 1900, '25 кг'),
 (1513, 'YARATERA REXOLIN ABC (КОМПЛЕКС МІКРОЕЛЕМЕНТІВ)', 3350, '5 кг'),
 (1514, 'YARATERA REXOLIN D12 (ХЕЛАТ ЗАЛІЗА)', 3150, '5 кг'),
 (1515, 'СУЛЬФАТ МАГНІЮ ЯРА KRISTA MGS', 1015, '25 кг'),
 (1516, 'ДОБРИВО ДЛЯ ФРУКТОВИХ ТА ГОРІХОВИХ ДЕРЕВ 3 кг', 799, '3 кг'),
 (1517, 'ДОБРИВО ДЛЯ ЯГІДНИХ ЧАГАРНИКІВ 3 кг', 799, '3 кг'),
 (1518, 'ДОБРИВО ДЛЯ ЯГІДНИХ ЧАГАРНИКІВ 1 кг', 348, '1 кг'),
 (1519, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ 1 кг', 348, '1 кг'),
 (1520, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ 3 кг', 799, '3 кг'),
 (1521, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ 10 кг', 2299, '10 кг'),
 (1522, 'ДОБРИВО ДЛЯ ДЕКОРАТИВНИХ ЛИСТОВИХ ОСІНЬ 3 кг', 799, '3 кг'),
 (1523, 'ДОБРИВО ДЛЯ ВІЧНОЗЕЛЕНИХ ДЕРЕВ ТА КУЩІВ ОСІНЬ 10 кг', 2299, '10 кг'),
 (1524, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ ОСІНЬ 3 кг', 799, '3 кг'),
 (1525, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ ОСІНЬ 1 кг', 348, '1 кг'),
 (1526, 'ДОБРИВО ДЛЯ ГАЗОНУ ОСІНЬ 3 кг', 799, '3 кг'),
 (1527, 'ДОБРИВО ДЛЯ ВІЧНОЗЕЛЕНИХ ДЕРЕВ ТА КУЩІВ ОСІНЬ 1 кг', 348, '1 кг'),
 (1528, 'ДОБРИВО ДЛЯ ГАЗОНУ ОСІНЬ 1 кг', 348, '1 кг'),
 (1529, 'ДОБРИВО ДЛЯ ДЕКОРАТИВНИХ ЛИСТОВИХ ОСІНЬ 1 кг', 348, '1 кг'),
 (1530, 'ДОБРИВО УНІВЕРСАЛЬНЕ ГРУНТОВЕ ОСІНЬ 10 кг', 2299, '10 кг'),
 (1536, 'ДОБРИВО ДЛЯ ГАЗОНУ ОСІНЬ 10 кг', 2299, '10 кг'),
 (1537, 'ДОБРИВО ДЛЯ ДЕКОРАТИВНИХ ЛИСТОВИХ ВЕСНА-ЛІТО 3 кг', 799, '3 кг'),
 (1538,
  'ДОБРИВО ДЛЯ ВІЧНОЗЕЛЕНИХ ДЕРЕВ ТА КУЩІВ ВЕСНА-ЛІТО 10 кг',
  2299,
  '10 кг'),
 (1539, 'ДОБРИВО ДЛЯ ДЕКОРАТИВНИХ ЛИСТОВИХ ВЕСНА-ЛІТО 1 кг', 348, '1 кг'),
 (1540, 'ДОБРИВО ДЛЯ ОВОЧІВ 3 кг', 799, '3 кг'),
 (1541, 'ДОБРИВО ДЛЯ ВИНОГРАДУ 1 кг', 348, '1 кг'),
 (1542, 'ДОБРИВО ДЛЯ ВІЧНОЗЕЛЕНИХ ДЕРЕВ ТА КУЩІВ ОСІНЬ 3 кг', 799, '3 кг'),
 (1543, 'ДОБРИВО ДЛЯ ГАЗОНУ ВЕСНА-ЛІТО 1 кг', 348, '1 кг'),
 (1544, 'ДОБРИВО ДЛЯ ОВОЧІВ 1 кг', 348, '1 кг'),
 (1545, 'ДОБРИВО ДЛЯ РОЗСАДИ 1 кг', 348, '1 кг'),
 (1546, 'ДОБРИВО ДЛЯ ТЕПЛИЧНИХ ОВОЧІВ 3 кг', 799, '3 кг'),
 (1547, 'ДОБРИВО ДЛЯ ТРОЯНД 1 кг', 348, '1 кг'),
 (1548,
  'ДОБРИВО ДЛЯ ВІЧНОЗЕЛЕНИХ ДЕРЕВ ТА КУЩІВ ВЕСНА-ЛІТО 1 кг',
  348,
  '1 кг'),
 (1549, 'ДОБРИВО ДЛЯ ГАЗОНУ ВЕСНА-ЛІТО 10 кг', 2299, '10 кг'),
 (1550, 'ДОБРИВО ДЛЯ ТЕПЛИЧНИХ ОВОЧІВ 1 кг', 348, '1 кг'),
 (1551, 'PULAN 34.4', 17800, '600 кг'),
 (1554, 'SALETRZAK 27 MACRO', 4850, '500 кг'),
 (1555, 'SIARCZAN AS 21 MACRO', 11790, '500 кг'),
 (1556, 'YARABELA СУЛЬФАН', 26680, '600 кг'),
 (1557, 'YARAMILA NP 20-20 +9,0SO3', 29320, '600 кг'),
 (1558, 'YARAMILA NPK 12-24-12', 33160, '600 кг'),
 (1559, 'YARAMILA NPK 16-16-16', 30250, '600 кг'),
 (1560, 'YARAMILA NPK 16-27-7', 33910, '600 кг'),
 (1562, 'YARAMILA NPK 7-20-28', 33160, '600 кг'),
 (1563, 'YARAMILA NPK 8-24-24', 34920, '600 кг'),
 (1564, 'YARAMILA NPK 9-12-25 + 2MGO + 6,5SO3 + MICRO', 28470, '600 кг'),
 (1565, 'СУЛЬФАТ МАГНІЮ ГРАНУЛЬОВАНИЙ', 24880, '1000 кг'),
 (1566, 'FERTICARE HYDRO 6-14-30 + MICRO', 3750, '25 кг'),
 (1567, 'FERTICARE KOMBI 14-11-25 + MICRO', 3450, '25 кг'),
 (1568, 'YARATERA SOP (СУЛЬФАТ КАЛІЮ)', 1995, '25 кг'),
 (1569, 'YARATERA КRISTA MAG (НІТРАТ МАГНІЮ)', 1630, '25 кг'),
 (1570, 'YaraTera КRISTA К (НІТРАТ КАЛІЮ)', 2840, '25 кг'),
 (1571, 'YaraTera КRISTA МАР (МОНОАМОНІЙ ФОСФАТ)', 3510, '25 кг'),
 (1572, 'YaraTera КRISTA МКР (МОНОКАЛІЙ ФОСФАТ)', 3990, '25 кг'),
 (1573, 'СУЛЬФАТ МАГНІЮ (СЕМИВОДНЕВИЙ)', 807, '25 кг'),
 (1574, 'ЯРА (FOLICARE) NPK 10-5-40+MICRO', 3820, '25 кг'),
 (1575, 'ЯРА (FOLICARE) NPK 12-0-38', 3180, '25 кг'),
 (1576, 'ЯРА (FOLICARE) NPK 12-46-8+MICRO', 4450, '25 кг'),
 (1577, 'ЯРА (FOLICARE) NPK 18-18-18+MICRO', 3960, '25 кг'),
 (1578, 'ЯРА (FOLICARE) NPK 22-5-22+MICRO', 3580, '25 кг'),
 (1579, 'ЯРА FERTICARE TOMATO', 3450, '25 кг'),
 (1580, 'ЯРА FERTICARE ОВОЧІ', 3510, '25 кг'),
 (1581, 'YARAVITA ФОСАМКО БІО', 2770, '10 л'),
 (1583,
  'ДОБРИВО НА ОСНОВІ ВИТЯЖКИ МОРСЬКИХ ВОДОРОСТЕЙ YaraVITA, 1 л',
  574,
  '1 л'),
 (1584, 'YARAVITA ТЕПРОСИН NP+ZN', 5060, '5 л'),
 (1586, 'YARAVITA БОРТРАК', 2560, '10 л'),
 (1587, 'YARAVITA БРАСІТРЕЛ ПРО', 3670, '10 л'),
 (1588, 'YARAVITA ГРАМІТРЕЛ', 3630, '10 л'),
 (1589, 'YARAVITA КОМБІФОС', 4070, '10 л'),
 (1590, 'YARAVITA МАНКОЦИН', 2330, '5 л'),
 (1591, 'YARAVITA МАНТРАК ПРО', 2350, '5 л'),
 (1592, 'YARAVITA МАЇЗ БУСТ', 4890, '10 л'),
 (1593, 'YARAVITA МОЛІТРАК', 10970, '5 л'),
 (1594, 'YARAVITA ТІОТРАК', 2280, '10 л'),
 (1596, 'YARAVITA ЦИНТРАК', 3060, '5 л'),
 (1597,
  'ДОБРИВО ДЛЯ АЗАЛІЙ ТА РОДОДЕНДРОНІВ, Yara Folicare 180 г',
  169,
  '180 г'),
 (1598, 'ДОБРИВО ДЛЯ ВИНОГРАДУ, Yara Folicare 180 г', 169, '180 г'),
 (1599,
  'ДОБРИВО ДЛЯ ДЕКОРАТИВНО-ЛИСТЯНИХ КІМНАТНИХ РОСЛИН, Yara Folicare 180 г',
  169,
  '180 г'),
 (1600,
  'ДОБРИВО ДЛЯ КВІТУЧИХ КІМНАТНИХ РОСЛИН, Yara Folicare 180 г',
  169,
  '180 г'),
 (1601, 'ДОБРИВО ДЛЯ ЛОХИНИ ТА ЧОРНИЦІ, Yara Folicare 180 г', 169, '180 г'),
 (1602, 'ДОБРИВО ДЛЯ МАГНОЛІЙ, ГОРТЕНЗІЙ, Yara Folicare 180 г', 169, '180 г'),
 (1603, 'ДОБРИВО ДЛЯ ОВОЧІВ ТА ЗЕЛЕНІ, Yara Folicare 180 г', 169, '180 г'),
 (1604, 'ДОБРИВО ДЛЯ ОРХІДЕЙ, Yara Folicare 180 г', 169, '180 г'),
 (1605, 'ДОБРИВО ДЛЯ ПЕТУНІЙ ТА СУРФІНІЙ, Yara Folicare 180 г', 169, '180 г'),
 (1606,
  'ДОБРИВО ДЛЯ ПЛОДОВО-ЯГІДНИХ КУЛЬТУР, Yara Folicare 180 г',
  169,
  '180 г'),
 (1607, 'ДОБРИВО ДЛЯ САДУ ТА ГОРОДУ, Yara Folicare 180 г', 169, '180 г'),
 (1608,
  'ДОБРИВО ДЛЯ САМШИТУ ТА ВІЧНОЗЕЛЕНИХ ЧАГАРНИКІВ, Yara Folicare 180 г',
  119,
  '180 г'),
 (1609,
  'ДОБРИВО ДЛЯ ТРОЯНД ТА КВІТУЧИХ РОСЛИН, Yara Folicare 180 г',
  169,
  '180 г'),
 (1610, 'ДОБРИВО ДЛЯ ХВОЙНИХ РОСЛИН, Yara Folicare 180 г', 169, '180 г'),
 (1611, 'YARAIRIX', 24000, '1 шт.'),
 (1612, 'YARAVITA  BIOMARIS', 7010, '10 л'),
 (1614, 'YARAVITA БІОТРАК', 5990, '10 л'),
 (1617, 'ДОБРИВО ДЛЯ ГАЗОНУ ВЕСНА-ЛІТО 3 кг', 3900, '18 кг'),
 (1618, 'ДОБРИВО ДЛЯ ГАЗОНУ ОСІНЬ 10 кг', 3900, '18 кг'),
 (1621,
  'ДОБРИВО НА ОСНОВІ ВИТЯЖКИ МОРСЬКИХ ВОДОРОСТЕЙ YaraVITA, 0,5 л',
  55,
  '1 шт.'),
 (1624,
  'ДОБРИВО НА ОСНОВІ ВИТЯЖКИ МОРСЬКИХ ВОДОРОСТЕЙ YaraVITA, 0,5 л',
  339,
  '0.5 л'),
 (1625, 'БІОСТИМУЛЯТОР РОСТУ. ТРОЯНДИ 20 мл', 60, '1 шт.'),
 (1626,
  'ВІДНОВЛЕННЯ ТА АКТИВІЗАЦІЯ РОСТУ ОВОЧЕВИХ ТА ФРУКТОВИХ РОСЛИН 20 мл',
  60,
  '1 шт.'),
 (1627, 'БІОСТИМУЛЯТОР РОСТУ ДЛЯ ЛОХИНИ ТА ЯГІДНИХ КУЩІВ 20 мл', 60, '1 шт.'),
 (1628, 'ГАЗОН. ЗАХИСТ ВІД ПОЖОВТІННЯ 20 мл', 90, '1 шт.'),
 (1629,
  'РЯСНЕ ЦВІТІННЯ ТА ПЛОДОНОШЕННЯ. ОВОЧІ, ФРУКТИ ТА ЯГОДИ 25 мл',
  80,
  '1 шт.'),
 (1630, 'РЯСНЕ ЦВІТІННЯ. ГОРТЕНЗІЯ ТА МАГНОЛІЯ 20 мл', 60, '1 шт.'),
 (1631, 'СИЛЬНИЙ КОРІНЬ. СТАРТ. ОВОЧІ ТА ЗЕЛЕНЬ 25 мл', 80, '1 шт.'),
 (1632, 'УРОЖАЙНА КАРТОПЛЯ ТА КОРЕНЕПЛОДИ 25 мл', 80, '1 шт.'),
 (1633, 'ЯСКРАВА ХВОЯ. ЗАХИСТ ТА РОЗВИТОК 20 мл', 90, '1 шт.'),
 (1634, 'Монокалій фосфат 0-52-34 Nova Peak ', 3880, '25 кг')]

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [6]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\liman\Desktop\tysql.sqlite')
cursor = conn.cursor()

cursor.execute("SELECT sqlite_version()")
version_tysql = cursor.fetchone()
print(f'Версія бази даних SQLite: {version_tysql}')

cursor.execute("SELECT count(*) FROM sqlite_master as tables WHERE type='table'")
qnty_tables =cursor.fetchone()
print(f'У базі даних міститься {qnty_tables} таблиць')

Версія бази даних SQLite: ('3.40.1',)
У базі даних міститься (5,) таблиць

2. Виведіть перелік всіх таблиць.

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables_names = cursor.fetchall()
print(f'Назви таблиць: {tables_names}')

Назви таблиць: [('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [8]:
cursor.execute("SELECT cust_id FROM Customers")
cust_ids = cursor.fetchall()
print(f'Список усіх cust_id з таблиці Customers: {cust_ids}')

Список усіх cust_id з таблиці Customers: [('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]

4. Всю таблицю Customers table

In [9]:
cursor.execute("SELECT * FROM Customers")
customers_table = cursor.fetchall()
for i in customers_table:
    print(i)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [6]:
cursor.execute("SELECT cust_name FROM Customers ORDER BY cust_name DESC")
for i in cursor.fetchall():
    print(i)

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [7]:
cursor.execute("""SELECT cust_name, order_num, order_date
                FROM Customers
                LEFT JOIN Orders
                ON Orders.cust_id = Customers.cust_id
                ORDER BY cust_name, order_date""")
for i in cursor.fetchall():
    print(i)

('Fun4All', 20006, '2012-01-12')
('Fun4All', 20007, '2012-01-30')
('Kids Place', None, None)
('The Toy Store', 20008, '2012-02-03')
('Village Toys', 20009, '2012-02-08')
('Village Toys', 20005, '2012-05-01')

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [8]:
cursor.execute("""SELECT prod_id,
            quantity, item_price 
            FROM OrderItems
            Order BY quantity DESC, item_price DESC""")
for i in cursor.fetchall():
    print(i)

('BNBG01', 250, 2.49)
('BNBG02', 250, 2.49)
('BNBG03', 250, 2.49)
('BR03', 100, 10.99)
('BR01', 100, 5.49)
('BNBG01', 100, 2.99)
('BNBG02', 100, 2.99)
('BNBG03', 100, 2.99)
('BR03', 50, 11.49)
('RGAN01', 50, 4.49)
('BR01', 20, 5.99)
('BR03', 10, 11.99)
('BR02', 10, 8.99)
('BNBG01', 10, 3.49)
('BNBG02', 10, 3.49)
('BNBG03', 10, 3.49)
('BR03', 5, 11.99)
('RGAN01', 5, 4.99)

8. Товар (з таблиці Products), ціна якого становить 9.49

In [9]:
cursor.execute("""SELECT prod_name, prod_price 
                FROM Products
                WHERE prod_price = 9.49""")
for i in cursor.fetchall():
    print(i)

('King doll', 9.49)
('Queen doll', 9.49)

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [10]:
cursor.execute("""SELECT prod_name, prod_price 
                FROM Products
                WHERE prod_price BETWEEN 3 AND 6
                ORDER BY prod_price ASC""")
for i in cursor.fetchall():
    print(i)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

10. Кількість товару, що було продано

In [13]:
cursor.execute("""SELECT SUM(quantity) AS total_sold_items
                FROM OrderItems
                """)
for i in cursor.fetchone():
    print(f'Кількість товару, що було продано: {i}')

Кількість товару, що було продано: 1430

11. Кількість найменувань товару, ціна якого більша за 4

In [15]:
cursor.execute("""SELECT COUNT(prod_name) AS products_price_more_than_4
                FROM Products
                WHERE prod_price > 4
                """)
for i in cursor.fetchone():
    print(f'Кількість найменувань товару, ціна якого більша за 4: {i} найменувань')

Кількість найменувань товару, ціна якого більша за 4: 6 найменувань

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [16]:
cursor.execute("""SELECT prod_name, prod_price
                FROM Products
                ORDER BY prod_price DESC
                """)
for i in cursor.fetchmany(3):
    print(i)

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [21]:
cursor.execute("""SELECT cust_name, total_order_num
                FROM
                (SELECT COUNT(order_num) AS total_order_num, cust_id
                FROM Orders
                GROUP BY cust_id) a
                LEFT JOIN Customers ON Customers.cust_id = a.cust_id
                ORDER BY cust_name ASC
                """)
for i in cursor.fetchall():
    print(i)

('Fun4All', 1)
('Fun4All', 1)
('The Toy Store', 1)
('Village Toys', 2)

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [17]:
cursor.execute("""SELECT cust_name, order_num 
                FROM Customers
                LEFT JOIN Orders ON 
                Customers.cust_id = Orders.cust_id
                """)
for i in cursor.fetchall():
    print(i)

('Village Toys', 20005)
('Village Toys', 20009)
('Kids Place', None)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [59]:
cursor.execute("""SELECT prod_id, prod_name, prod_price
                FROM Products 
                WHERE prod_price < 5""")
cursor.fetchall()

[('BNBG01', 'Fish bean bag toy', 3.49),
 ('BNBG02', 'Bird bean bag toy', 3.49),
 ('BNBG03', 'Rabbit bean bag toy', 3.49),
 ('RGAN01', 'Raggedy Ann', 4.99)]

In [60]:
cursor.execute("""SELECT prod_id, prod_name, prod_price
                FROM Products 
                WHERE prod_price >= 5""")
cursor.fetchall()

[('BR01', '8 inch teddy bear', 5.99),
 ('BR02', '12 inch teddy bear', 8.99),
 ('BR03', '18 inch teddy bear', 11.99),
 ('RYL01', 'King doll', 9.49),
 ('RYL02', 'Queen doll', 9.49)]

In [61]:
cursor.execute("""SELECT prod_id, prod_name, prod_price
                FROM Products 
                WHERE prod_price < 5
                UNION
                SELECT prod_id, prod_name, prod_price
                FROM Products 
                WHERE prod_price >= 5""")
cursor.fetchall()

[('BNBG01', 'Fish bean bag toy', 3.49),
 ('BNBG02', 'Bird bean bag toy', 3.49),
 ('BNBG03', 'Rabbit bean bag toy', 3.49),
 ('BR01', '8 inch teddy bear', 5.99),
 ('BR02', '12 inch teddy bear', 8.99),
 ('BR03', '18 inch teddy bear', 11.99),
 ('RGAN01', 'Raggedy Ann', 4.99),
 ('RYL01', 'King doll', 9.49),
 ('RYL02', 'Queen doll', 9.49)]

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

<b> Задание: 1. Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. Вывести: model, speed и hd

In [ ]:
SELECT model, speed, hd 
FROM PC 
WHERE price < 500

<b> Задание: 2. Найдите производителей принтеров. Вывести: maker

In [ ]:
SELECT DISTINCT maker
FROM Product
WHERE type = 'Printer'

<b> Задание: 3. Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT model, ram, screen
FROM Laptop
WHERE price > 1000

<b> Задание: 4. Найдите все записи таблицы Printer для цветных принтеров.

In [ ]:
SELECT * 
FROM Printer
WHERE color='y'

<b> Задание: 5. Найдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.

In [ ]:
SELECT model, speed, hd
FROM PC
WHERE cd IN ('12x', '24x') AND price < 600

<b> Задание: 6. Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, 
найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.

In [ ]:
SELECT Distinct Product.maker, Laptop.speed 
FROM Product
INNER JOIN Laptop ON Product.model = Laptop.model
WHERE hd >= 10

<b> Задание: 7. Найдите номера моделей и цены всех имеющихся в продаже продуктов (любого типа) производителя B (латинская буква).

In [ ]:
SELECT model, price
FROM (
SELECT model, price
FROM PC
UNION
SELECT model, price
FROM Laptop
UNION
SELECT model, price
FROM Printer) AS a WHERE
model IN (SELECT model FROM Product
WHERE maker = 'B')

<b> Задание: 8. Найдите производителя, выпускающего ПК, но не ПК-блокноты.

In [ ]:
SELECT DISTINCT maker 
FROM Product 
WHERE type = 'PC' 
EXCEPT SELECT maker 
FROM Product 
WHERE type = 'Laptop'

<b> Задание: 9. Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker

In [ ]:
SELECT DISTINCT maker
FROM Product
INNER JOIN PC ON Product.model = PC.model
WHERE speed >=450

<b> Задание: 10. Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

In [ ]:
SELECT model, price 
FROM Printer 
WHERE price=(SELECT MAX(price) 
FROM Printer)

<b> Задание: 11. Найдите среднюю скорость ПК.

In [ ]:
SELECT AVG(speed) AS avg_speed
FROM PC

<b> Задание: 12. Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Laptop
WHERE price > 1000

<b> Задание: 13. Найдите среднюю скорость ПК, выпущенных производителем A.

In [ ]:
SELECT AVG(speed) as avg_speed 
FROM PC 
INNER JOIN Product ON
Product.model = PC.model 
WHERE maker = 'A'

<b> Задание: 14. Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.

In [ ]:
SELECT Ships.class, name, country
FROM Classes
INNER JOIN Ships ON Classes.class = Ships.class
WHERE numGuns >= 10

<b> Задание: 15. Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD

In [ ]:
SELECT hd 
FROM PC
GROUP BY hd
HAVING COUNT(hd) >=2

<b> Задание: 16. Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается 
только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, 
скорость и RAM.

In [ ]:
SELECT DISTINCT one.model, sec.model, one.speed, one.ram 
FROM PC one 
JOIN (SELECT speed, ram 
FROM PC GROUP BY speed, ram 
HAVING COUNT(speed) >= 2 AND COUNT(ram) >= 2) S 
ON one.speed = S.speed AND one.ram = S.ram 
JOIN PC sec ON 
sec.speed = S.speed AND sec.ram = S.ram AND sec.model < one.model ORDER BY one.model, sec.model

<b> Задание: 17. Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК. Вывести: type, model, speed

In [ ]:
SELECT DISTINCT Product.type, Laptop.model, Laptop.speed 
FROM PC, Laptop, Product 
WHERE type = 'Laptop' AND Laptop.speed < ALL 
(SELECT PC.speed FROM PC)

<b> Задание: 18. Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

In [ ]:
SELECT maker, price 
FROM Product 
INNER JOIN Printer ON 
Product.model = Printer.model 
WHERE color = 'y' AND price = 
(SELECT MIN(price) FROM Printer 
WHERE color = 'y') 
GROUP BY maker, price

<b> Задание: 19. Для каждого производителя, имеющего модели в таблице Laptop, найдите средний размер экрана выпускаемых
им ПК-блокнотов. Вывести: maker, средний размер экрана.

In [ ]:
SELECT maker, AVG(screen) AS avg_screen
FROM Product
INNER JOIN Laptop ON 
Product.model = Laptop.model
GROUP BY maker

<b> Задание: 20. Найдите производителей, выпускающих по меньшей мере три различных модели ПК. 
Вывести: Maker, число моделей ПК.

In [ ]:
SELECT maker, COUNT(model) AS qnty_model
FROM Product
WHERE type = 'PC'
GROUP BY maker
HAVING COUNT(model) >= 3

<b> Задание: 21. Найдите максимальную цену ПК, выпускаемых каждым производителем, у которого есть модели в таблице PC.
Вывести: maker, максимальная цена.

In [ ]:
SELECT maker, MAX(price)
FROM Product
INNER JOIN PC ON
Product.model = PC.model
GROUP BY maker

<b> Задание: 22. Для каждого значения скорости ПК, превышающего 600 МГц, определите среднюю цену ПК с такой же скоростью. 
Вывести: speed, средняя цена.

In [ ]:
SELECT speed, AVG(price)
FROM PC
GROUP BY speed 
HAVING speed > 600

<b> Задание: 23. Найдите производителей, которые производили бы как ПК со скоростью не менее 750 МГц, так и ПК-блокноты со 
скоростью не менее 750 МГц. Вывести: Maker

In [ ]:
SELECT maker 
FROM Product 
INNER JOIN PC 
ON Product.model = PC.model 
WHERE type = 'PC' AND speed >= 750 
INTERSECT 
SELECT maker 
FROM Product 
INNER JOIN 
Laptop ON Product.model = Laptop.model 
WHERE type = 'Laptop' AND speed >= 750

<b> Задание: 24. Перечислите номера моделей любых типов, имеющих самую высокую цену по всей имеющейся в базе данных продукции.

In [ ]:
SELECT DISTINCT model 
FROM 
(SELECT model, price 
FROM PC 
UNION  
SELECT model, price 
FROM Laptop 
UNION  
SELECT model, price 
FROM Printer) a
WHERE price = (SELECT MAX(price) 
FROM 
(SELECT model, price 
FROM PC 
UNION  
SELECT model, price 
FROM Laptop 
UNION  
SELECT model, price 
FROM Printer) b)

<b> Задание: 25. Найдите производителей принтеров, которые производят ПК с наименьшим объемом RAM и с самым быстрым 
процессором среди всех ПК, имеющих наименьший объем RAM. Вывести: Maker

In [ ]:
SELECT DISTINCT maker 
FROM Product 
WHERE type = 'printer' AND maker IN 
(SELECT maker FROM Product 
INNER JOIN PC ON 
Product.model = PC.model 
WHERE ram = (SELECT MIN(ram) FROM PC) AND speed = (SELECT MAX(speed) 
FROM PC 
WHERE ram = (SELECT MIN(ram) FROM PC)))

<b> Задание: 26. Найдите среднюю цену ПК и ПК-блокнотов, выпущенных производителем A (латинская буква). 
Вывести: одна общая средняя цена.

In [ ]:
SELECT avg(a.price) AS avg_price
FROM 
(SELECT price
FROM
PC, Product 
WHERE PC.model = Product.model AND Product.maker = 'A' 
UNION ALL
SELECT price
FROM 
Laptop, Product 
WHERE Laptop.model = Product.model AND Product.maker = 'A') as a

<b> Задание: 27. Найдите средний размер диска ПК каждого из тех производителей, которые выпускают и принтеры. 
Вывести: maker, средний размер HD.

In [ ]:
SELECT Product.maker, AVG(PC.hd) 
FROM PC, Product 
WHERE Product.model = PC.model AND Product.maker IN
(Select DISTINCT maker 
FROM Product 
WHERE Product.type = 'Printer') 
GROUP BY maker

<b> Задание: 28. Используя таблицу Product, определить количество производителей, выпускающих по одной модели.

In [ ]:
SELECT COUNT(maker) AS qnty
FROM 
(SELECT DISTINCT maker 
FROM Product 
GROUP BY maker 
HAVING COUNT(model) = 1) AS makers

<b> Задание: 29. В предположении, что приход и расход денег на каждом пункте приема фиксируется не чаще одного раза в день 
[т.е. первичный ключ (пункт, дата)], написать запрос с выходными данными (пункт, дата, приход, расход). 
Использовать таблицы Income_o и Outcome_o.

In [ ]:
SELECT t1.point, t1.date, inc, out 
FROM income_o t1 
LEFT JOIN outcome_o t2 ON t1.point = t2.point AND t1.date = t2.date 
UNION 
SELECT t2.point, t2.date, inc, out 
FROM income_o t1 
RIGHT JOIN outcome_o t2 ON t1.point = t2.point AND t1.date = t2.date

<b> Задание: 30. В предположении, что приход и расход денег на каждом пункте приема фиксируется произвольное число раз 
(первичным ключом в таблицах является столбец code), требуется получить таблицу, в которой каждому пункту за каждую дату 
выполнения операций будет соответствовать одна строка. Вывод: point, date, суммарный расход пункта за день (out), 
суммарный приход пункта за день (inc). Отсутствующие значения считать неопределенными (NULL).

In [ ]:
SELECT point, date, SUM(sum_out), SUM(sum_inc) 
FROM
(SELECT point, date, SUM(inc) AS sum_inc, NULL AS sum_out 
FROM Income 
GROUP BY point, date 
UNION
SELECT point, date, NULL AS sum_inc, SUM(out) AS sum_out 
FROM
Outcome 
GROUP BY point, date) AS a 
GROUP BY point, 
date ORDER BY point